*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT sans', sans-serif;
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.6;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #eee;
}
.container{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}
.space-bottom{
    margin-bottom: 1rem;
}
.mb{
    margin-bottom: 1rem;
}
.btn{
    padding: 1rem;
    display: inline-block;
}
.btn-primary{
    background-color: #D3071B;
}
.btn-secondary{
    background-color: #103063;
}
.text-light{
    color: #f4f4f4;
}
.bg-light{
    background-color: #f4f4f4;
    color: #333;
}
/*section*/
.section{
    padding: 2rem 0;
}
.section-head{
    font-size: 2.5rem;
    margin: 0;
}
.section h3{
    font-size: 2rem;
}
section#enterainment{
    background: url(../images/astronomy.jpg) no-repeat bottom/cover;
    padding: 10rem 0;
}
#showcase{
    margin: 0;
    padding: 0;
    background:  url('../images/showcase.jpg') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}
#showcase .container{
    margin-top: 25vh;
}
#showcase h1{
    font-size: 4rem;
    margin-bottom: 0; 
}
#showcase h2{
    font-size: 2rem;
}
.lead{
    font-size: 1.3rem;
}
nav{
    width: 100%;
    height: 40px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
nav ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
nav a#openup {
    display: none;
}
.giftcard{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
/*footer*/
footer .footer-cols{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}
footer .footer-cols ul {
    list-style: none;
}
footer .footer-cols ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
}
footer .footer-bottom {
    background: #333;
    padding: 1rem;
}
.text-center {
    text-align: center;
}    

@media screen and (max-width: 580px){
    #showcase{
        height: 50vh;
    }
    #showcase h1 {
        font-size: 3rem;
    }
    #showcase h2 {
        font-size: 1.5rem;
    }
    #showcase .container {
        margin-top: 15vh;
    }
    nav{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    nav a#openup{
        display: block;
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #333;
        border-bottom: 1px solid #555;    
    }
    nav ul{
        height: 200px;
        flex-direction: column;
        justify-content: space-around;
    }
    .hide-on-small{
        display: none;
    }
    footer .footer-cols{
        display: none;
    }
}